body{
	margin:0;
	font-family: helvetica, arial, sans-serif;
}

header{
	background-color: navy;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: white;

}

header img{
	border-radius: 150px;
	width: 300px;
	border: 20px solid black;
}

main{
	max-width: 800px;
	margin: 0 auto;
}

main img{
	max-width: 100%
}